/*darwin*/

.darwin #main .header {
    display: none;
}

.darwin #content {
    height: 100%;
}


/*windows*/

.windows .header {
    -webkit-app-region: drag;
}

.windows .button {
    -webkit-app-region: no-drag;
}

.windows #system-buttons {
    -webkit-app-region: no-drag;
    position: absolute;
    right: 0;
    top: 0;
    color: #aaacb3;
    margin: 0px;
    display: block;
}

.windows #system-buttons img {
    padding: 7px 10px 7px 10px;
}

.windows #system-buttons img:hover {
    background: #3a3c45;
}

.windows #system-buttons #system-close:hover {
    background: #cc5252;
}

.windows #system-restore {
    display: none;
}